spring:
  datasource:
    url: jdbc:mysql://${RDS_ENDPOINT:localhost:3306}/portfolio?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useSSL=false&rewriteBatchedStatements=true
    username: portfolio_user
    password: ${RDS_PASSWORD:portfolio1234}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 32

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        session_factory:
          statement_inspector: com.goorm.tablepick.global.config.QueryCountInspector
    database-platform: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: ${REDIS_PRIVATE_IP:localhost}
      port: 6379

  kafka:
    # Kafka 서버 주소
    bootstrap-servers: ${KAFKA_PRIVATE_IP:localhost:9092,localhost:19092,localhost:29092}

    producer:
      # 메시지의 key 직렬화 방식 : 자바 객체를 문자열(String)로 변환해서 Kafka에 전송
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      # 메시지의 value 직렬화 방식 : 자바 객체를 문자열(String)로 변환해서 Kafka에 전송
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      # 여러 파티션에 메시지를 저장할 때의 방식 (라운드 로빈 방식)
      properties:
        partitioner.class: org.apache.kafka.clients.producer.RoundRobinPartitioner

  mail:
    host: localhost
    port: 1025        # MailHog 기본 SMTP 포트
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

jwt:
  secret: ${JWT_SECRET:VmVyeVNlY3JldEtleUZvclRlc3RpbmdQdXJwb3NlczEyMzQ1Njcetvsdfweethdxdf=}
  token-validity-in-seconds: 86400  # 24시간

logging:
  level:
    org.springframework: info

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,info,prometheus"
  endpoint:
    health:
      show-details: always

kakao:
  admin:
    key: dummy-key-for-local

server:
  tomcat:
    connection-timeout: 120000  # 120초
  servlet:
    session:
      timeout: 120s